@font-face {
  font-family: GothamHTFUltra;
  src: url("Gotham HTF Ultra.ttf");
}
header h2 {
  font-size: 20px;
  margin-left: 20px;
}

#nombre {
  font-family: "GothamHTFUltra";
  margin-left: 20px;
  display: flex;
  height: 50px;
  text-decoration: none;
  color: rgb(216, 216, 216);
}

header {
  color: rgb(216, 216, 216);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  margin: 0;
  background-color: rgb(0, 0, 0);
  top: 0;
  padding: 10px;
  font-style: normal;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}

header nav a {
  margin-right: 40px;
  padding: 15px;
  font-family: sans-serif;
  transition: all 0.3s ease;
}
header nav a:hover, header nav a :focus {
  background-color: rgb(26, 26, 26);
  color: #f1f1f1;
  transition: all 0.3s ease;
}

.opciones {
  color: rgb(216, 216, 216);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

body {
  background-color: rgb(49, 49, 49);
  margin: 0;
}

h1 {
  color: rgb(216, 216, 216);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-size: 60px;
}

#main-container {
  margin: 0 auto;
  margin-top: 100px;
  width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: rgb(39, 39, 39);
  border-radius: 1%;
}

#img-container {
  width: 60%;
}
#img-container img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 5px;
  height: 600px;
  width: 400px;
}

#descripcion {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 40px;
  color: rgb(216, 216, 216);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  text-align: justify;
}
#descripcion h1 {
  text-align: center;
}

.contenedor-contenido {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.contenido {
  color: rgb(216, 216, 216);
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  background-color: rgb(39, 39, 39);
  width: 500px;
  margin: 0 auto;
  height: 375px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.contenido:hover {
  transition: all 0.6s ease;
  filter: opacity(75%);
}
.contenido img {
  height: 282px;
  width: 500px;
  cursor: pointer;
}
.contenido p {
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 25px;
  align-items: center;
  vertical-align: middle;
}

#galeria {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 25px;
  margin-bottom: 60px;
}

.caja-img {
  margin: 0 auto;
  margin-top: 100px;
  margin-right: 50px;
  width: 500px;
  height: 600px;
}
.caja-img img {
  width: 500px;
  height: 600px;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.caja-img img:hover {
  transition: all 0.6s ease;
  width: 520px;
  height: 620px;
}

.modal-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  position: fixed;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: transicion;
          animation-name: transicion;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes transicion {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes transicion {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover, .close :focus {
  text-decoration: none;
  color: #bbb;
  cursor: pointer;
}

#modal-img {
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */